gs-egm-unit-test-flows.json
[
    {
        "id": "42bb90cce19cc72e",
        "type": "tab",
        "label": "Startup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8a723596530dedd",
        "type": "tab",
        "label": "Cabinet Class",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e8caeae3c861ce5",
        "type": "tab",
        "label": "Coin Acceptor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c94aadc737aeba2c",
        "type": "tab",
        "label": "Note Acceptor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a67d75c8f37854fe",
        "type": "tab",
        "label": "Cleanup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1954e354fc897bc",
        "type": "subflow",
        "name": "CreateCollectionReport",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 60,
                "wires": [
                    {
                        "id": "0a7c5aaea2f78626"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 950,
                "y": 60,
                "wires": [
                    {
                        "id": "684fec533c4d1afd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "collection_name",
                "type": "test-collection",
                "value": "",
                "ui": {
                    "type": "conf-types"
                }
            },
            {
                "name": "report_name",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7b3d4ab5a74719d9",
        "type": "group",
        "z": "c8a723596530dedd",
        "name": "Cabinet Door",
        "style": {
            "label": true
        },
        "nodes": [
            "f485c45069ed0f1c",
            "e646d899bcfefcea",
            "c946a56504ad6ee6",
            "e93e04f660431a88",
            "570e25c0de45fff1",
            "a66069d6ed48cd33",
            "ca9ae338d80ec7da",
            "9cac8d1a6a9985d0",
            "0f10e3a864e7db14",
            "7039332cc2eeb333",
            "458ec5089e3271dd",
            "5e8772429633f008",
            "0e8b10a042468cfa",
            "134ffa415bfeef39",
            "467497a71999d28d",
            "f71fde7872cdcc13",
            "9409d78ed6221420",
            "141f6679ad599c95",
            "0c5db6aad7d7488b"
        ],
        "x": 124,
        "y": 59,
        "w": 1482,
        "h": 322
    },
    {
        "id": "64ed17276cb6744f",
        "type": "group",
        "z": "c8a723596530dedd",
        "name": "Logic Door",
        "style": {
            "label": true
        },
        "nodes": [
            "40f6571fe387783f",
            "21f5453807b6ec63",
            "8d9ac7b18db36e6c",
            "a39a6d834c2d8773",
            "180c137d64519cc7",
            "8e3bdffe687d1df4",
            "c2e71b791cae974d",
            "392c4130464ffa9a",
            "50a2b947947b6577",
            "7b988cb581838c28",
            "fb73391808a05d89",
            "aff7ca74d1c12718",
            "c41f6573c0c9efe8",
            "d00c5789d0c530c9",
            "a0b0e7dda6e6a636",
            "a695e064d01a54ff",
            "5db4c7a33b63cece",
            "32a148fac23e0de3",
            "6295a1bba8ee32f8"
        ],
        "x": 124,
        "y": 419,
        "w": 1482,
        "h": 322
    },
    {
        "id": "94e3d67e4fa53b9d",
        "type": "group",
        "z": "c8a723596530dedd",
        "name": "Complete Test",
        "style": {
            "label": true
        },
        "nodes": [
            "05c85f9272a3a3fd",
            "fb0c307d04664e11",
            "bfd9994cb7528902"
        ],
        "x": 124,
        "y": 1579,
        "w": 402,
        "h": 82
    },
    {
        "id": "d048657b1a949531",
        "type": "group",
        "z": "c8a723596530dedd",
        "name": "Auxilary Door",
        "style": {
            "label": true
        },
        "nodes": [
            "dceb2e112e99b2d9",
            "092260274ba5ac70",
            "4f7c2dea7105cf8b",
            "bfecbd12cba85045",
            "eb38a46e6a996fa2",
            "daa86c4994551380",
            "fe6f7752d1f0f5fa",
            "ac8dacbb0c56c1e9",
            "79a315c23e7c68a2",
            "1908db1aab4bcb64",
            "24eef18af711cc66",
            "7234db1be9c2081c",
            "b9d2d496a2b576b8",
            "d2e4d60d104c4072",
            "371a6fd6ea19a643",
            "e4da3cbb4e310f14",
            "7685228b79653241",
            "fa075a30c409fef6",
            "1486ec4621d009a1"
        ],
        "x": 124,
        "y": 779,
        "w": 1482,
        "h": 322
    },
    {
        "id": "3586158adc4e6bdc",
        "type": "group",
        "z": "c8a723596530dedd",
        "name": "Hard Meter Disconnected",
        "style": {
            "label": true
        },
        "nodes": [
            "b25a29255f43499a",
            "953dbdf83ad27d44",
            "85885447c8de1e98",
            "ecb4f919a3e63cab",
            "0b81c8ae9ce8f3dd",
            "9d7fe50e3ba4f48c",
            "ab2fa7f35fdc23cc",
            "f239bf9ab2c7fa7f",
            "37747a76fd9bf1b9",
            "8701646173c5870c",
            "e1fe623c53e2d3c7",
            "6bd43167ebdab4a5",
            "ee6f291fe5fdaf48",
            "2750ed48d3752580",
            "61e143c697c15da3"
        ],
        "x": 124,
        "y": 1119,
        "w": 1482,
        "h": 202
    },
    {
        "id": "2105812445ed3a70",
        "type": "group",
        "z": "c8a723596530dedd",
        "name": "Service Lamp Activated",
        "style": {
            "label": true
        },
        "nodes": [
            "e105bd0169f8594f",
            "459f1d04c86fc9e6",
            "ec8e4eb2f2699656",
            "ef689196a5522e48",
            "2865e9535def8b46",
            "99fd9b3d8f53aa87",
            "475c789fc3b07551",
            "fc7dfc85415a5370",
            "c708bc8a384df3f2",
            "57e51d9954e40ab4",
            "d9586510f3ff26a6",
            "521869dcda27127f",
            "1f1be164e001f572",
            "133cb31a4dfacf9f",
            "8a0597533482f597"
        ],
        "x": 124,
        "y": 1339,
        "w": 1482,
        "h": 202
    },
    {
        "id": "8847a3cdf5f621d1",
        "type": "group",
        "z": "9e8caeae3c861ce5",
        "name": "Coin Acceptor Door",
        "style": {
            "label": true
        },
        "nodes": [
            "923248214c6d37d2",
            "daa7572275bd0a90",
            "06083bfc893569c6",
            "91cab363ac626f14",
            "374db95d9b67ab36",
            "c6e84609274d6dd2",
            "d12cbb773f52dc25",
            "cb8cdc1a91440278",
            "b357a495b7722b0c",
            "4e8bdce203ccd449",
            "3ee6547f8e6e2e7c",
            "0a903883c8546788",
            "c816b1d17c226400",
            "b97ac9f891b0477c",
            "811095ec10dd1e8e",
            "b9273549ac917b61",
            "e4a414870334e783",
            "7f2afbee828d6102",
            "e9d21ea0bf7c95e3"
        ],
        "x": 124,
        "y": 39,
        "w": 1592,
        "h": 322
    },
    {
        "id": "3811e7aa51a88781",
        "type": "group",
        "z": "9e8caeae3c861ce5",
        "name": "mechanicalFault",
        "style": {
            "label": true
        },
        "nodes": [
            "a7cede1121e0c825",
            "b27281739c29c8f5",
            "4a5d515a197c3950",
            "5d0c6eeebd04289a",
            "160c17b775ec768b",
            "30c043ac4e698c45",
            "dacff68d03623013",
            "9b4ccfc9efd8a5ec",
            "51bf46c80e7c62d7",
            "279b3339e7de873e",
            "61af1ddaac701986",
            "49be9a10bd34b649",
            "6996367648e376a6",
            "afd3ba730e3d1583",
            "a508fd050f556345"
        ],
        "x": 124,
        "y": 399,
        "w": 1592,
        "h": 202
    },
    {
        "id": "c79d08c7bae299cb",
        "type": "group",
        "z": "9e8caeae3c861ce5",
        "name": "Complete Test",
        "style": {
            "label": true
        },
        "nodes": [
            "6b4a550b5f793204",
            "127fe2fdf8bc0482",
            "f4116df93bbccdd0"
        ],
        "x": 124,
        "y": 999,
        "w": 412,
        "h": 82
    },
    {
        "id": "1b45323fc883f949",
        "type": "group",
        "z": "9e8caeae3c861ce5",
        "name": "Coin In",
        "style": {
            "label": true
        },
        "nodes": [
            "13e6d9f00965e8ca",
            "a5eeec50f109e0e2",
            "fe475e6e355248f2",
            "510c9e35e8661a84",
            "f9f40d1d79265a05",
            "e82607d94fb02f13",
            "d5dd1f3cb7d1cf9f",
            "c195925636a14386",
            "50858c0d797eb605",
            "ea1657a7feb91a4e",
            "81c649a0120fc58f",
            "654066c146573c42",
            "01692a3eb649943f",
            "9c5c5faa0343ce53",
            "d438e1e12a759299"
        ],
        "x": 124,
        "y": 639,
        "w": 1592,
        "h": 322
    },
    {
        "id": "cb9545e6214ed6fd",
        "type": "group",
        "z": "c94aadc737aeba2c",
        "name": "Note Acceptor Drop Door",
        "style": {
            "label": true
        },
        "nodes": [
            "58f7b22817a92324",
            "1ce12cb42038328f",
            "0d3adf580261394c",
            "768189a13fc3bff6",
            "75dc294216c855cb",
            "505715923dac22f6",
            "4455a3bd356ca237",
            "c1ac62f77cfb5ec9",
            "6868d0deca8d6363",
            "e02852fa89b2030b",
            "6a51a231134d40c7",
            "2bdab3387bf08c18",
            "b7a47ad01afc35fc",
            "c0b1091bb8e3c23b",
            "afdcf98520fc41c4",
            "0f92a0516dbb8d6a",
            "2c5e6b783e7b3af1",
            "362c39a76c4dba05",
            "5c43ff85a57d6fb0"
        ],
        "x": 124,
        "y": 39,
        "w": 1592,
        "h": 322
    },
    {
        "id": "d0194652c91bd897",
        "type": "group",
        "z": "c94aadc737aeba2c",
        "name": "Note Acceptor Stacker",
        "style": {
            "label": true
        },
        "nodes": [
            "7234841a8de38fb6",
            "9de735c760016252",
            "28751f7c49efcd93",
            "bc9d2ae06b5d32be",
            "a61fe4044f35dfaf",
            "def3a9d146409bc8",
            "085bf9a23e8557a0",
            "5aa491c8df2c64ab",
            "fa86769796f89944",
            "211a58a50228dfd0",
            "eabf0ce008c25bde",
            "c1594edfbb3cb6b8",
            "a22a73293af7f1dd",
            "f5299a83f5970e87",
            "1c2fdd8ca60a996d",
            "536b53d98318a0a3",
            "46a97351b25c2c9d",
            "d7dcacd3a3fa68dc",
            "7fdc8775cd6a70ea"
        ],
        "x": 124,
        "y": 379,
        "w": 1592,
        "h": 322
    },
    {
        "id": "dd27383e724564fc",
        "type": "group",
        "z": "c94aadc737aeba2c",
        "name": "Complete Test",
        "style": {
            "label": true
        },
        "nodes": [
            "7c182c8acca29241",
            "9bacf1bb4d5e4742",
            "376c0a9ae663669f"
        ],
        "x": 124,
        "y": 1219,
        "w": 392,
        "h": 82
    },
    {
        "id": "691fa100c9f8807d",
        "type": "group",
        "z": "c94aadc737aeba2c",
        "name": "Note Escrowed/Stacked",
        "style": {
            "label": true
        },
        "nodes": [
            "3b639736e6168d91",
            "d95a6db105d570b5",
            "4e1d11a8c27ea6cd",
            "3b8a480e6f60cbbe",
            "a3a75b42e6a54beb",
            "de50e821346683af",
            "c937ce47137e3e8d",
            "49693658c6b7b16b",
            "6fce62edaf418e5a",
            "552b950beff93c15",
            "6348ceb928692f9b",
            "8995df656bd221a7",
            "a30541ad2dcab39b",
            "5988af46acc40a29",
            "630120a12693f10e",
            "6df984f36c43152b",
            "3ad7c87b27a381ec",
            "2d1d8bec2fb0dfd6",
            "9b08cc2393e68c6a",
            "8aca7c1f8d65b77f",
            "0de9832f73171653",
            "4e4ad42b91412069",
            "0d638d8d9d6aa0f4"
        ],
        "x": 124,
        "y": 739,
        "w": 1592,
        "h": 442
    },
    {
        "id": "12817824be111c81",
        "type": "xmlrpc-client",
        "name": "UnitTestG2SClient",
        "host": "localhost",
        "port": "8559",
        "path": "/"
    },
    {
        "id": "f1af7bf27170a115",
        "type": "test-collection",
        "name": "G2S_cabinet_tests"
    },
    {
        "id": "a03b6f1d267925ab",
        "type": "test-collection",
        "name": "G2S_coinAcceptor_tests"
    },
    {
        "id": "58883ff232c48830",
        "type": "test-collection",
        "name": "Cabinet Door Access",
        "parentCollection": "f1af7bf27170a115"
    },
    {
        "id": "f71f254a625acbde",
        "type": "test-collection",
        "name": "Logic Door Access",
        "parentCollection": "f1af7bf27170a115"
    },
    {
        "id": "00311fc0cc5c05d5",
        "type": "test-collection",
        "name": "Auxilary Door Access",
        "parentCollection": "f1af7bf27170a115"
    },
    {
        "id": "d52491f8a090655f",
        "type": "test-collection",
        "name": "Hard Meter Disconnected",
        "parentCollection": "58883ff232c48830"
    },
    {
        "id": "f3ef5223c7dfc81b",
        "type": "test-collection",
        "name": "Service Lamp Activated",
        "parentCollection": "f1af7bf27170a115"
    },
    {
        "id": "39025918ae2b543b",
        "type": "test-collection",
        "name": "G2S_noteAcceptor_tests",
        "parentCollection": "f1af7bf27170a115"
    },
    {
        "id": "46101e6c5c832223",
        "type": "test-collection",
        "name": "CoinAcceptorDoor",
        "parentCollection": "a03b6f1d267925ab"
    },
    {
        "id": "d8c6bc09b883629f",
        "type": "test-collection",
        "name": "CoinAcceptorMechanicalFault",
        "parentCollection": "a03b6f1d267925ab"
    },
    {
        "id": "6c90746e48a5abee",
        "type": "test-collection",
        "name": "CoinInTest",
        "parentCollection": "a03b6f1d267925ab"
    },
    {
        "id": "967123efa45a99be",
        "type": "test-collection",
        "name": "NoteAcceptorDoor",
        "parentCollection": "39025918ae2b543b"
    },
    {
        "id": "22ae68f5b472374b",
        "type": "test-collection",
        "name": "NoteAcceptorStackerAccess",
        "parentCollection": "39025918ae2b543b"
    },
    {
        "id": "d32b713aee85a34b",
        "type": "test-collection",
        "name": "NoteEscrowStacked",
        "parentCollection": "39025918ae2b543b"
    },
    {
        "id": "e2a02e8b32e9943f",
        "type": "test-collection-output",
        "z": "a1954e354fc897bc",
        "name": "",
        "collection": "",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "91c58d14b68f4e9a"
            ]
        ]
    },
    {
        "id": "91c58d14b68f4e9a",
        "type": "test-exporter-junit",
        "z": "a1954e354fc897bc",
        "name": "",
        "x": 600,
        "y": 60,
        "wires": [
            [
                "684fec533c4d1afd"
            ]
        ]
    },
    {
        "id": "684fec533c4d1afd",
        "type": "file",
        "z": "a1954e354fc897bc",
        "name": "Write report to file",
        "filename": "$env(\"report_name\")&'.xml'",
        "filenameType": "jsonata",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 800,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "0a7c5aaea2f78626",
        "type": "change",
        "z": "a1954e354fc897bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "collection_name",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 60,
        "wires": [
            [
                "e2a02e8b32e9943f"
            ]
        ]
    },
    {
        "id": "e837e1483f0a6f4f",
        "type": "inject",
        "z": "42bb90cce19cc72e",
        "name": "Autostart",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "9cc078676c185438"
            ]
        ]
    },
    {
        "id": "9cc078676c185438",
        "type": "link out",
        "z": "42bb90cce19cc72e",
        "name": "Auto Start",
        "mode": "link",
        "links": [
            "9409d78ed6221420"
        ],
        "x": 295,
        "y": 60,
        "wires": []
    },
    {
        "id": "f485c45069ed0f1c",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "door_info": {
                "door_id": 1,
                "set_flag": true
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_cabinet.doors.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "134ffa415bfeef39"
            ]
        ]
    },
    {
        "id": "e646d899bcfefcea",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "door_info": {
                "door_id": 1,
                "set_flag": false
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_cabinet.doors.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "467497a71999d28d"
            ]
        ]
    },
    {
        "id": "c946a56504ad6ee6",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 760,
        "y": 220,
        "wires": [
            [
                "0c5db6aad7d7488b"
            ]
        ]
    },
    {
        "id": "e93e04f660431a88",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "Test Cabinet Device Status After Cabinet Door Open",
        "collection": "58883ff232c48830",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"false\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:cabinetDoorOpen\"] === \"true\");"
            }
        ],
        "x": 1300,
        "y": 220,
        "wires": [
            [
                "a66069d6ed48cd33"
            ]
        ]
    },
    {
        "id": "570e25c0de45fff1",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "141f6679ad599c95"
            ]
        ]
    },
    {
        "id": "a66069d6ed48cd33",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            },
            "meter_name": "G2S_cabinetDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "ca9ae338d80ec7da"
            ]
        ]
    },
    {
        "id": "ca9ae338d80ec7da",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "Test Cabinet Meters After Cabinet Door Open",
        "collection": "58883ff232c48830",
        "timer": "",
        "tests": [
            {
                "name": "Cabinet Door Count is 1",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "e646d899bcfefcea"
            ]
        ]
    },
    {
        "id": "9cac8d1a6a9985d0",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "Test Cabinet Device Status After Cabinet Door Closed",
        "collection": "58883ff232c48830",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:cabinetDoorOpen\"] === \"false\");"
            }
        ],
        "x": 1300,
        "y": 340,
        "wires": [
            [
                "f71fde7872cdcc13"
            ]
        ]
    },
    {
        "id": "0f10e3a864e7db14",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 620,
        "y": 100,
        "wires": [
            [
                "7039332cc2eeb333"
            ]
        ]
    },
    {
        "id": "7039332cc2eeb333",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "458ec5089e3271dd"
            ]
        ]
    },
    {
        "id": "458ec5089e3271dd",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "Test Initial Cabinet Door Status",
        "collection": "58883ff232c48830",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:cabinetDoorOpen\"] === \"false\");"
            }
        ],
        "x": 1230,
        "y": 100,
        "wires": [
            [
                "5e8772429633f008"
            ]
        ]
    },
    {
        "id": "5e8772429633f008",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            },
            "meter_name": "G2S_cabinetDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "0e8b10a042468cfa"
            ]
        ]
    },
    {
        "id": "0e8b10a042468cfa",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "Test Initial Cabinet Door Meters",
        "collection": "58883ff232c48830",
        "timer": "",
        "tests": [
            {
                "name": "Cabinet Door Open Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1230,
        "y": 160,
        "wires": [
            [
                "f485c45069ed0f1c"
            ]
        ]
    },
    {
        "id": "134ffa415bfeef39",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "c946a56504ad6ee6"
            ]
        ]
    },
    {
        "id": "467497a71999d28d",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "570e25c0de45fff1"
            ]
        ]
    },
    {
        "id": "40f6571fe387783f",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "door_info": {
                "door_id": 2,
                "set_flag": true
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_cabinet.doors.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 270,
        "y": 580,
        "wires": [
            [
                "c41f6573c0c9efe8"
            ]
        ]
    },
    {
        "id": "21f5453807b6ec63",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "door_info": {
                "door_id": 2,
                "set_flag": false
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_cabinet.doors.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "d00c5789d0c530c9"
            ]
        ]
    },
    {
        "id": "8d9ac7b18db36e6c",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 760,
        "y": 580,
        "wires": [
            [
                "32a148fac23e0de3"
            ]
        ]
    },
    {
        "id": "a39a6d834c2d8773",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "Test Cabinet Device Status After Logic Door Open",
        "collection": "f71f254a625acbde",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"false\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:logicDoorOpen\"] === \"true\");"
            }
        ],
        "x": 1290,
        "y": 580,
        "wires": [
            [
                "8e3bdffe687d1df4"
            ]
        ]
    },
    {
        "id": "180c137d64519cc7",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "5db4c7a33b63cece"
            ]
        ]
    },
    {
        "id": "8e3bdffe687d1df4",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            },
            "meter_name": "G2S_logicDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 690,
        "y": 640,
        "wires": [
            [
                "c2e71b791cae974d"
            ]
        ]
    },
    {
        "id": "c2e71b791cae974d",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "Test Cabinet Meters After Logic Door Open",
        "collection": "f71f254a625acbde",
        "timer": "",
        "tests": [
            {
                "name": "Logic Door Count is 1",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1270,
        "y": 640,
        "wires": [
            [
                "21f5453807b6ec63"
            ]
        ]
    },
    {
        "id": "392c4130464ffa9a",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "Test Cabinet Device Status After Logic Door Closed",
        "collection": "f71f254a625acbde",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:logicDoorOpen\"] === \"false\");"
            }
        ],
        "x": 1290,
        "y": 700,
        "wires": [
            [
                "a695e064d01a54ff"
            ]
        ]
    },
    {
        "id": "50a2b947947b6577",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "6295a1bba8ee32f8"
            ]
        ]
    },
    {
        "id": "7b988cb581838c28",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "Test Initial Cabinet Logic Door Status",
        "collection": "f71f254a625acbde",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:logicDoorOpen\"] === \"false\");"
            }
        ],
        "x": 1250,
        "y": 460,
        "wires": [
            [
                "fb73391808a05d89"
            ]
        ]
    },
    {
        "id": "fb73391808a05d89",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            },
            "meter_name": "G2S_logicDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "aff7ca74d1c12718"
            ]
        ]
    },
    {
        "id": "aff7ca74d1c12718",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "Test Initial Logic Door Meters",
        "collection": "f71f254a625acbde",
        "timer": "",
        "tests": [
            {
                "name": "Logic Door Open Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1220,
        "y": 520,
        "wires": [
            [
                "40f6571fe387783f"
            ]
        ]
    },
    {
        "id": "c41f6573c0c9efe8",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "8d9ac7b18db36e6c"
            ]
        ]
    },
    {
        "id": "d00c5789d0c530c9",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "180c137d64519cc7"
            ]
        ]
    },
    {
        "id": "f71fde7872cdcc13",
        "type": "link out",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "Cabinet Door Out",
        "mode": "link",
        "links": [
            "a0b0e7dda6e6a636"
        ],
        "x": 1565,
        "y": 340,
        "wires": []
    },
    {
        "id": "a0b0e7dda6e6a636",
        "type": "link in",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "Logic Door In",
        "links": [
            "f71fde7872cdcc13"
        ],
        "x": 165,
        "y": 460,
        "wires": [
            [
                "50a2b947947b6577"
            ]
        ]
    },
    {
        "id": "05c85f9272a3a3fd",
        "type": "link in",
        "z": "c8a723596530dedd",
        "g": "94e3d67e4fa53b9d",
        "name": "link in 2",
        "links": [
            "521869dcda27127f"
        ],
        "x": 165,
        "y": 1620,
        "wires": [
            [
                "bfd9994cb7528902"
            ]
        ]
    },
    {
        "id": "a695e064d01a54ff",
        "type": "link out",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "Logic Door Out",
        "mode": "link",
        "links": [
            "371a6fd6ea19a643"
        ],
        "x": 1565,
        "y": 700,
        "wires": []
    },
    {
        "id": "dceb2e112e99b2d9",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "door_info": {
                "door_id": 3,
                "set_flag": true
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_cabinet.doors.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 280,
        "y": 940,
        "wires": [
            [
                "b9d2d496a2b576b8"
            ]
        ]
    },
    {
        "id": "092260274ba5ac70",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "door_info": {
                "door_id": 3,
                "set_flag": false
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_cabinet.doors.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 280,
        "y": 1060,
        "wires": [
            [
                "d2e4d60d104c4072"
            ]
        ]
    },
    {
        "id": "4f7c2dea7105cf8b",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 760,
        "y": 940,
        "wires": [
            [
                "fa075a30c409fef6"
            ]
        ]
    },
    {
        "id": "bfecbd12cba85045",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "Test Cabinet Device Status After Auxilary Door Open",
        "collection": "00311fc0cc5c05d5",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"false\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:auxDoorOpen\"] === \"true\");"
            }
        ],
        "x": 1300,
        "y": 940,
        "wires": [
            [
                "daa86c4994551380"
            ]
        ]
    },
    {
        "id": "eb38a46e6a996fa2",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 760,
        "y": 1060,
        "wires": [
            [
                "7685228b79653241"
            ]
        ]
    },
    {
        "id": "daa86c4994551380",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            },
            "meter_name": "G2S_auxDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "fe6f7752d1f0f5fa"
            ]
        ]
    },
    {
        "id": "fe6f7752d1f0f5fa",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "Test Cabinet Meters After Auxilary Door Open",
        "collection": "00311fc0cc5c05d5",
        "timer": "",
        "tests": [
            {
                "name": "Auxilary Door Count is 1",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1270,
        "y": 1000,
        "wires": [
            [
                "092260274ba5ac70"
            ]
        ]
    },
    {
        "id": "ac8dacbb0c56c1e9",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "Test Cabinet Device Status After Auxilary Door Closed",
        "collection": "00311fc0cc5c05d5",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:auxDoorOpen\"] === \"false\");"
            }
        ],
        "x": 1300,
        "y": 1060,
        "wires": [
            [
                "e4da3cbb4e310f14"
            ]
        ]
    },
    {
        "id": "79a315c23e7c68a2",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "1486ec4621d009a1"
            ]
        ]
    },
    {
        "id": "1908db1aab4bcb64",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "Test Initial Cabinet Auxilary Door Status",
        "collection": "00311fc0cc5c05d5",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:auxDoorOpen\"] === \"false\");"
            }
        ],
        "x": 1260,
        "y": 820,
        "wires": [
            [
                "24eef18af711cc66"
            ]
        ]
    },
    {
        "id": "24eef18af711cc66",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            },
            "meter_name": "G2S_auxDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 690,
        "y": 880,
        "wires": [
            [
                "7234db1be9c2081c"
            ]
        ]
    },
    {
        "id": "7234db1be9c2081c",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "Test Initial Auxilary Door Meters",
        "collection": "00311fc0cc5c05d5",
        "timer": "",
        "tests": [
            {
                "name": "Auxilary Door Open Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1230,
        "y": 880,
        "wires": [
            [
                "dceb2e112e99b2d9"
            ]
        ]
    },
    {
        "id": "b9d2d496a2b576b8",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 940,
        "wires": [
            [
                "4f7c2dea7105cf8b"
            ]
        ]
    },
    {
        "id": "d2e4d60d104c4072",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "eb38a46e6a996fa2"
            ]
        ]
    },
    {
        "id": "371a6fd6ea19a643",
        "type": "link in",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "Auxilary Door In",
        "links": [
            "a695e064d01a54ff"
        ],
        "x": 165,
        "y": 820,
        "wires": [
            [
                "79a315c23e7c68a2"
            ]
        ]
    },
    {
        "id": "e4da3cbb4e310f14",
        "type": "link out",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "Auxilary Door Out",
        "mode": "link",
        "links": [
            "b25a29255f43499a"
        ],
        "x": 1565,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b25a29255f43499a",
        "type": "link in",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "Hard Meter Disconnected In",
        "links": [
            "e4da3cbb4e310f14"
        ],
        "x": 165,
        "y": 1160,
        "wires": [
            [
                "953dbdf83ad27d44"
            ]
        ]
    },
    {
        "id": "953dbdf83ad27d44",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 620,
        "y": 1160,
        "wires": [
            [
                "61e143c697c15da3"
            ]
        ]
    },
    {
        "id": "85885447c8de1e98",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "Test Initial Cabinet Hard Meter Status",
        "collection": "d52491f8a090655f",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:hardMetersDisconnected\"] === \"false\");"
            }
        ],
        "x": 1240,
        "y": 1160,
        "wires": [
            [
                "ecb4f919a3e63cab"
            ]
        ]
    },
    {
        "id": "ecb4f919a3e63cab",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "error_info": {
                "error_code": 1,
                "set_flag": true
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Error",
            "action_method": "g2s.egm.G2S_cabinet.errors.set_error"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 330,
        "y": 1220,
        "wires": [
            [
                "0b81c8ae9ce8f3dd"
            ]
        ]
    },
    {
        "id": "0b81c8ae9ce8f3dd",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 1220,
        "wires": [
            [
                "9d7fe50e3ba4f48c"
            ]
        ]
    },
    {
        "id": "9d7fe50e3ba4f48c",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 800,
        "y": 1220,
        "wires": [
            [
                "2750ed48d3752580"
            ]
        ]
    },
    {
        "id": "ab2fa7f35fdc23cc",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "Test Cabinet Device Status After Hard Meter Disconnect",
        "collection": "d52491f8a090655f",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is hard meter disconnected",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:hardMetersDisconnected\"] === \"true\");"
            }
        ],
        "x": 1300,
        "y": 1220,
        "wires": [
            [
                "f239bf9ab2c7fa7f"
            ]
        ]
    },
    {
        "id": "f239bf9ab2c7fa7f",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "error_info": {
                "error_code": 1,
                "set_flag": false
            }
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Error",
            "action_method": "g2s.egm.G2S_cabinet.errors.set_error"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 330,
        "y": 1280,
        "wires": [
            [
                "37747a76fd9bf1b9"
            ]
        ]
    },
    {
        "id": "37747a76fd9bf1b9",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "8701646173c5870c"
            ]
        ]
    },
    {
        "id": "8701646173c5870c",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "ee6f291fe5fdaf48"
            ]
        ]
    },
    {
        "id": "e1fe623c53e2d3c7",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "Test Cabinet Device Status After Hard Meter Reconnect",
        "collection": "d52491f8a090655f",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:hardMetersDisconnected\"] === \"false\");"
            }
        ],
        "x": 1300,
        "y": 1280,
        "wires": [
            [
                "6bd43167ebdab4a5"
            ]
        ]
    },
    {
        "id": "6bd43167ebdab4a5",
        "type": "link out",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "Hard Meter Disconnected Out",
        "mode": "link",
        "links": [
            "e105bd0169f8594f"
        ],
        "x": 1565,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e105bd0169f8594f",
        "type": "link in",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "Service Lamp Activated In",
        "links": [
            "6bd43167ebdab4a5"
        ],
        "x": 165,
        "y": 1380,
        "wires": [
            [
                "459f1d04c86fc9e6"
            ]
        ]
    },
    {
        "id": "459f1d04c86fc9e6",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 620,
        "y": 1380,
        "wires": [
            [
                "8a0597533482f597"
            ]
        ]
    },
    {
        "id": "ec8e4eb2f2699656",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "Test Initial Cabinet Service Lamp Status",
        "collection": "f3ef5223c7dfc81b",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:serviceLampOn\"] === \"false\");"
            }
        ],
        "x": 1250,
        "y": 1380,
        "wires": [
            [
                "ef689196a5522e48"
            ]
        ]
    },
    {
        "id": "ef689196a5522e48",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "on": true
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Service Lamp Activation",
            "action_method": "g2s.egm.G2S_cabinet.service_lamp.set_state"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 290,
        "y": 1440,
        "wires": [
            [
                "2865e9535def8b46"
            ]
        ]
    },
    {
        "id": "2865e9535def8b46",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 1440,
        "wires": [
            [
                "99fd9b3d8f53aa87"
            ]
        ]
    },
    {
        "id": "99fd9b3d8f53aa87",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 800,
        "y": 1440,
        "wires": [
            [
                "133cb31a4dfacf9f"
            ]
        ]
    },
    {
        "id": "475c789fc3b07551",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "Test Cabinet Device Status After Service Lamp Activated",
        "collection": "f3ef5223c7dfc81b",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:serviceLampOn\"] === \"true\");"
            }
        ],
        "x": 1300,
        "y": 1440,
        "wires": [
            [
                "fc7dfc85415a5370"
            ]
        ]
    },
    {
        "id": "fc7dfc85415a5370",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "g2s_action_name": "",
        "class_name": "G2S_cabinet",
        "action_data": {
            "on": false
        },
        "action": {
            "class_name": "G2S_cabinet",
            "class_action": "Service Lamp Activation",
            "action_method": "g2s.egm.G2S_cabinet.service_lamp.set_state"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 290,
        "y": 1500,
        "wires": [
            [
                "c708bc8a384df3f2"
            ]
        ]
    },
    {
        "id": "c708bc8a384df3f2",
        "type": "delay",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 1500,
        "wires": [
            [
                "57e51d9954e40ab4"
            ]
        ]
    },
    {
        "id": "57e51d9954e40ab4",
        "type": "g2sAction",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_cabinet",
                "id": 1
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 800,
        "y": 1500,
        "wires": [
            [
                "1f1be164e001f572"
            ]
        ]
    },
    {
        "id": "d9586510f3ff26a6",
        "type": "test-case",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "Test Cabinet Device Status After Service Lamp Deactivated",
        "collection": "f3ef5223c7dfc81b",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:cabinetStatus\"].$[\"g2s:serviceLampOn\"] === \"false\");"
            }
        ],
        "x": 1310,
        "y": 1500,
        "wires": [
            [
                "521869dcda27127f"
            ]
        ]
    },
    {
        "id": "521869dcda27127f",
        "type": "link out",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "Service Lamp Activated Out",
        "mode": "link",
        "links": [
            "05c85f9272a3a3fd"
        ],
        "x": 1565,
        "y": 1500,
        "wires": []
    },
    {
        "id": "9409d78ed6221420",
        "type": "link in",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "Cabinet Door In",
        "links": [
            "9cc078676c185438"
        ],
        "x": 165,
        "y": 100,
        "wires": [
            [
                "0f10e3a864e7db14"
            ]
        ]
    },
    {
        "id": "fb0c307d04664e11",
        "type": "link out",
        "z": "c8a723596530dedd",
        "g": "94e3d67e4fa53b9d",
        "name": "Cabinet Tests Done",
        "mode": "link",
        "links": [
            "b9273549ac917b61"
        ],
        "x": 485,
        "y": 1620,
        "wires": []
    },
    {
        "id": "1f1be164e001f572",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1000,
        "y": 1500,
        "wires": [
            [
                "d9586510f3ff26a6"
            ]
        ]
    },
    {
        "id": "133cb31a4dfacf9f",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1000,
        "y": 1440,
        "wires": [
            [
                "475c789fc3b07551"
            ]
        ]
    },
    {
        "id": "8a0597533482f597",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "2105812445ed3a70",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1000,
        "y": 1380,
        "wires": [
            [
                "ec8e4eb2f2699656"
            ]
        ]
    },
    {
        "id": "ee6f291fe5fdaf48",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1000,
        "y": 1280,
        "wires": [
            [
                "e1fe623c53e2d3c7"
            ]
        ]
    },
    {
        "id": "2750ed48d3752580",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1000,
        "y": 1220,
        "wires": [
            [
                "ab2fa7f35fdc23cc"
            ]
        ]
    },
    {
        "id": "61e143c697c15da3",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "3586158adc4e6bdc",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1000,
        "y": 1160,
        "wires": [
            [
                "85885447c8de1e98"
            ]
        ]
    },
    {
        "id": "7685228b79653241",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 1060,
        "wires": [
            [
                "ac8dacbb0c56c1e9"
            ]
        ]
    },
    {
        "id": "fa075a30c409fef6",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 940,
        "wires": [
            [
                "bfecbd12cba85045"
            ]
        ]
    },
    {
        "id": "1486ec4621d009a1",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "d048657b1a949531",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 820,
        "wires": [
            [
                "1908db1aab4bcb64"
            ]
        ]
    },
    {
        "id": "5db4c7a33b63cece",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "392c4130464ffa9a"
            ]
        ]
    },
    {
        "id": "32a148fac23e0de3",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 580,
        "wires": [
            [
                "a39a6d834c2d8773"
            ]
        ]
    },
    {
        "id": "6295a1bba8ee32f8",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "64ed17276cb6744f",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "7b988cb581838c28"
            ]
        ]
    },
    {
        "id": "141f6679ad599c95",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "9cac8d1a6a9985d0"
            ]
        ]
    },
    {
        "id": "0c5db6aad7d7488b",
        "type": "xml",
        "z": "c8a723596530dedd",
        "g": "7b3d4ab5a74719d9",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "e93e04f660431a88"
            ]
        ]
    },
    {
        "id": "bfd9994cb7528902",
        "type": "subflow:a1954e354fc897bc",
        "z": "c8a723596530dedd",
        "g": "94e3d67e4fa53b9d",
        "name": "",
        "env": [
            {
                "name": "collection_name",
                "value": "f1af7bf27170a115",
                "type": "conf-type"
            },
            {
                "name": "report_name",
                "value": "G2S_cabinet_tests_report",
                "type": "str"
            },
            {
                "name": "collection",
                "value": "G2S_cabinet_tests",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 1620,
        "wires": [
            [
                "fb0c307d04664e11"
            ]
        ]
    },
    {
        "id": "923248214c6d37d2",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "g2s_action_name": "",
        "class_name": "G2S_coinAcceptor",
        "action_data": {
            "device_info": {
                "uid": "CA_1"
            },
            "door_openned": true
        },
        "action": {
            "class_name": "G2S_coinAcceptor",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_coinAcceptor.door.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "c816b1d17c226400"
            ]
        ]
    },
    {
        "id": "daa7572275bd0a90",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "g2s_action_name": "",
        "class_name": "G2S_coinAcceptor",
        "action_data": {
            "device_info": {
                "uid": "CA_1"
            },
            "door_openned": false
        },
        "action": {
            "class_name": "G2S_coinAcceptor",
            "class_action": "Door Access",
            "action_method": "g2s.egm.G2S_coinAcceptor.door.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "b97ac9f891b0477c"
            ]
        ]
    },
    {
        "id": "06083bfc893569c6",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "7f2afbee828d6102"
            ]
        ]
    },
    {
        "id": "91cab363ac626f14",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "Test CoinAcceptor Device Status After Drop Door Open",
        "collection": "46101e6c5c832223",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"false\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:doorOpen\"] === \"true\");"
            }
        ],
        "x": 1380,
        "y": 200,
        "wires": [
            [
                "c6e84609274d6dd2"
            ]
        ]
    },
    {
        "id": "374db95d9b67ab36",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "e9d21ea0bf7c95e3"
            ]
        ]
    },
    {
        "id": "c6e84609274d6dd2",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            },
            "meter_name": "G2S_dropDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "d12cbb773f52dc25"
            ]
        ]
    },
    {
        "id": "d12cbb773f52dc25",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "Test CoinAcceptor Meters After Drop Door Open",
        "collection": "46101e6c5c832223",
        "timer": "",
        "tests": [
            {
                "name": "Drop Door Count is 1",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1360,
        "y": 260,
        "wires": [
            [
                "daa7572275bd0a90"
            ]
        ]
    },
    {
        "id": "cb8cdc1a91440278",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "Test CoinAcceptor Device Status After Drop Door Closed",
        "collection": "46101e6c5c832223",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is Drop door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:doorOpen\"] === \"false\");"
            }
        ],
        "x": 1390,
        "y": 320,
        "wires": [
            [
                "811095ec10dd1e8e"
            ]
        ]
    },
    {
        "id": "b357a495b7722b0c",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 830,
        "y": 80,
        "wires": [
            [
                "e4a414870334e783"
            ]
        ]
    },
    {
        "id": "4e8bdce203ccd449",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "Test Initial Drop Door Status",
        "collection": "46101e6c5c832223",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is Drop door closed",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:doorOpen\"] === \"false\");"
            }
        ],
        "x": 1300,
        "y": 80,
        "wires": [
            [
                "3ee6547f8e6e2e7c"
            ]
        ]
    },
    {
        "id": "3ee6547f8e6e2e7c",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            },
            "meter_name": "G2S_dropDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "0a903883c8546788"
            ]
        ]
    },
    {
        "id": "0a903883c8546788",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "Test Initial Drop Door Meters",
        "collection": "46101e6c5c832223",
        "timer": "",
        "tests": [
            {
                "name": "Drop Door Open Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1300,
        "y": 140,
        "wires": [
            [
                "923248214c6d37d2"
            ]
        ]
    },
    {
        "id": "c816b1d17c226400",
        "type": "delay",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "06083bfc893569c6"
            ]
        ]
    },
    {
        "id": "b97ac9f891b0477c",
        "type": "delay",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "374db95d9b67ab36"
            ]
        ]
    },
    {
        "id": "811095ec10dd1e8e",
        "type": "link out",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "Drop Door Out",
        "mode": "link",
        "links": [
            "a7cede1121e0c825"
        ],
        "x": 1675,
        "y": 320,
        "wires": []
    },
    {
        "id": "b9273549ac917b61",
        "type": "link in",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "Coin Acceptor Drop Door In",
        "links": [
            "fb0c307d04664e11"
        ],
        "x": 165,
        "y": 80,
        "wires": [
            [
                "b357a495b7722b0c"
            ]
        ]
    },
    {
        "id": "a7cede1121e0c825",
        "type": "link in",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "mechanicalFault In",
        "links": [
            "811095ec10dd1e8e"
        ],
        "x": 165,
        "y": 440,
        "wires": [
            [
                "b27281739c29c8f5"
            ]
        ]
    },
    {
        "id": "b27281739c29c8f5",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "6996367648e376a6"
            ]
        ]
    },
    {
        "id": "4a5d515a197c3950",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "Test Initial CoinAcceptor Mechanical Fault Status",
        "collection": "d8c6bc09b883629f",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is coinAcceptor mechanical fault set",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:mechanicalFault\"] === \"false\");"
            }
        ],
        "x": 1360,
        "y": 440,
        "wires": [
            [
                "5d0c6eeebd04289a"
            ]
        ]
    },
    {
        "id": "5d0c6eeebd04289a",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "g2s_action_name": "",
        "class_name": "G2S_coinAcceptor",
        "action_data": {
            "device_info": {
                "uid": "CA_1"
            },
            "error_info": {
                "error_code": 5,
                "set_flag": true
            }
        },
        "action": {
            "class_name": "G2S_coinAcceptor",
            "class_action": "Error",
            "action_method": "g2s.egm.G2S_coinAcceptor.errors.set_error"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 380,
        "y": 500,
        "wires": [
            [
                "160c17b775ec768b"
            ]
        ]
    },
    {
        "id": "160c17b775ec768b",
        "type": "delay",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 500,
        "wires": [
            [
                "30c043ac4e698c45"
            ]
        ]
    },
    {
        "id": "30c043ac4e698c45",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 890,
        "y": 500,
        "wires": [
            [
                "afd3ba730e3d1583"
            ]
        ]
    },
    {
        "id": "dacff68d03623013",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "Test Coin Acceptor Device Status After Mechanical Fault Set",
        "collection": "d8c6bc09b883629f",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"false\");"
            },
            {
                "name": "is coinAcceptor Mechanical fault set",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:mechanicalFault\"] === \"true\");"
            }
        ],
        "x": 1400,
        "y": 500,
        "wires": [
            [
                "9b4ccfc9efd8a5ec"
            ]
        ]
    },
    {
        "id": "9b4ccfc9efd8a5ec",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "g2s_action_name": "",
        "class_name": "G2S_coinAcceptor",
        "action_data": {
            "device_info": {
                "uid": "CA_1"
            },
            "error_info": {
                "error_code": 5,
                "set_flag": false
            }
        },
        "action": {
            "class_name": "G2S_coinAcceptor",
            "class_action": "Error",
            "action_method": "g2s.egm.G2S_coinAcceptor.errors.set_error"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "51bf46c80e7c62d7"
            ]
        ]
    },
    {
        "id": "51bf46c80e7c62d7",
        "type": "delay",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "279b3339e7de873e"
            ]
        ]
    },
    {
        "id": "279b3339e7de873e",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 890,
        "y": 560,
        "wires": [
            [
                "a508fd050f556345"
            ]
        ]
    },
    {
        "id": "61af1ddaac701986",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "Test CoinAcceptor Device Status After Mechanical Fault Cleared",
        "collection": "d8c6bc09b883629f",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is mechincal fault cleared",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:mechanicalFault\"] === \"false\");"
            }
        ],
        "x": 1410,
        "y": 560,
        "wires": [
            [
                "49be9a10bd34b649"
            ]
        ]
    },
    {
        "id": "49be9a10bd34b649",
        "type": "link out",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "mechanicalFault Out",
        "mode": "link",
        "links": [
            "c195925636a14386"
        ],
        "x": 1675,
        "y": 560,
        "wires": []
    },
    {
        "id": "6b4a550b5f793204",
        "type": "link in",
        "z": "9e8caeae3c861ce5",
        "g": "c79d08c7bae299cb",
        "name": "CoinAcceptor Test Report",
        "links": [
            "d5dd1f3cb7d1cf9f"
        ],
        "x": 165,
        "y": 1040,
        "wires": [
            [
                "f4116df93bbccdd0"
            ]
        ]
    },
    {
        "id": "127fe2fdf8bc0482",
        "type": "link out",
        "z": "9e8caeae3c861ce5",
        "g": "c79d08c7bae299cb",
        "name": "Coin Acceptor Tests Done",
        "mode": "link",
        "links": [
            "0f92a0516dbb8d6a"
        ],
        "x": 495,
        "y": 1040,
        "wires": []
    },
    {
        "id": "13e6d9f00965e8ca",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "g2s_action_name": "",
        "class_name": "G2S_coinAcceptor",
        "action_data": {
            "device_info": {
                "uid": "CA_1"
            },
            "currency_info": {
                "currency_id": "CAD",
                "denom": 1000,
                "type": "G2S_coin"
            },
            "destination": 1,
            "egm_tx_id": -1
        },
        "action": {
            "class_name": "G2S_coinAcceptor",
            "class_action": "Coin Inserted",
            "action_method": "g2s.egm.G2S_coinAcceptor.coin_inserted"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 330,
        "y": 860,
        "wires": [
            [
                "e82607d94fb02f13"
            ]
        ]
    },
    {
        "id": "a5eeec50f109e0e2",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 830,
        "y": 680,
        "wires": [
            [
                "d438e1e12a759299"
            ]
        ]
    },
    {
        "id": "fe475e6e355248f2",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "Test Initial CoinAcceptor Status",
        "collection": "6c90746e48a5abee",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:coinAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            }
        ],
        "x": 1310,
        "y": 680,
        "wires": [
            [
                "510c9e35e8661a84"
            ]
        ]
    },
    {
        "id": "510c9e35e8661a84",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            },
            "meter_name": "G2S_currencyInAmt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 890,
        "y": 740,
        "wires": [
            [
                "f9f40d1d79265a05"
            ]
        ]
    },
    {
        "id": "f9f40d1d79265a05",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "Test Initial CoinAcceptor Coin In Amount Meter",
        "collection": "6c90746e48a5abee",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Amt is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1360,
        "y": 740,
        "wires": [
            [
                "50858c0d797eb605"
            ]
        ]
    },
    {
        "id": "e82607d94fb02f13",
        "type": "delay",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 860,
        "wires": [
            [
                "81c649a0120fc58f"
            ]
        ]
    },
    {
        "id": "d5dd1f3cb7d1cf9f",
        "type": "link out",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "Coin In Out",
        "mode": "link",
        "links": [
            "6b4a550b5f793204"
        ],
        "x": 1675,
        "y": 920,
        "wires": []
    },
    {
        "id": "c195925636a14386",
        "type": "link in",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "Coin In In",
        "links": [
            "49be9a10bd34b649"
        ],
        "x": 165,
        "y": 680,
        "wires": [
            [
                "a5eeec50f109e0e2"
            ]
        ]
    },
    {
        "id": "50858c0d797eb605",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            },
            "meter_name": "G2S_currencyInCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 890,
        "y": 800,
        "wires": [
            [
                "ea1657a7feb91a4e"
            ]
        ]
    },
    {
        "id": "ea1657a7feb91a4e",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "Test Initial CoinAcceptor Coin In Count Meter",
        "collection": "6c90746e48a5abee",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1350,
        "y": 800,
        "wires": [
            [
                "13e6d9f00965e8ca"
            ]
        ]
    },
    {
        "id": "81c649a0120fc58f",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            },
            "meter_name": "G2S_currencyInAmt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 890,
        "y": 860,
        "wires": [
            [
                "01692a3eb649943f"
            ]
        ]
    },
    {
        "id": "654066c146573c42",
        "type": "g2sAction",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_coinAcceptor",
                "uid": "CA_1"
            },
            "meter_name": "G2S_currencyInCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 890,
        "y": 920,
        "wires": [
            [
                "9c5c5faa0343ce53"
            ]
        ]
    },
    {
        "id": "01692a3eb649943f",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "Test CoinAcceptor Coin In Amount Meter After Coin Insertion",
        "collection": "6c90746e48a5abee",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Amt is 1000",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1000\");"
            }
        ],
        "x": 1400,
        "y": 860,
        "wires": [
            [
                "654066c146573c42"
            ]
        ]
    },
    {
        "id": "9c5c5faa0343ce53",
        "type": "test-case",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "Test CoinAcceptor Coin In Count Meter After Coin Insertion",
        "collection": "6c90746e48a5abee",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1400,
        "y": 920,
        "wires": [
            [
                "d5dd1f3cb7d1cf9f"
            ]
        ]
    },
    {
        "id": "e4a414870334e783",
        "type": "xml",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 80,
        "wires": [
            [
                "4e8bdce203ccd449"
            ]
        ]
    },
    {
        "id": "7f2afbee828d6102",
        "type": "xml",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "91cab363ac626f14"
            ]
        ]
    },
    {
        "id": "e9d21ea0bf7c95e3",
        "type": "xml",
        "z": "9e8caeae3c861ce5",
        "g": "8847a3cdf5f621d1",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "cb8cdc1a91440278"
            ]
        ]
    },
    {
        "id": "6996367648e376a6",
        "type": "xml",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "4a5d515a197c3950"
            ]
        ]
    },
    {
        "id": "afd3ba730e3d1583",
        "type": "xml",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "dacff68d03623013"
            ]
        ]
    },
    {
        "id": "a508fd050f556345",
        "type": "xml",
        "z": "9e8caeae3c861ce5",
        "g": "3811e7aa51a88781",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "61af1ddaac701986"
            ]
        ]
    },
    {
        "id": "d438e1e12a759299",
        "type": "xml",
        "z": "9e8caeae3c861ce5",
        "g": "1b45323fc883f949",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1110,
        "y": 680,
        "wires": [
            [
                "fe475e6e355248f2"
            ]
        ]
    },
    {
        "id": "f4116df93bbccdd0",
        "type": "subflow:a1954e354fc897bc",
        "z": "9e8caeae3c861ce5",
        "g": "c79d08c7bae299cb",
        "name": "",
        "env": [
            {
                "name": "collection_name",
                "value": "a03b6f1d267925ab",
                "type": "conf-type"
            },
            {
                "name": "report_name",
                "value": "G2S_coinAcceptor_tests_report",
                "type": "str"
            },
            {
                "name": "collection",
                "value": "G2S_coinAcceptor_tests",
                "type": "str"
            }
        ],
        "x": 340,
        "y": 1040,
        "wires": [
            [
                "127fe2fdf8bc0482"
            ]
        ]
    },
    {
        "id": "58f7b22817a92324",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "g2s_action_name": "",
        "class_name": "G2S_noteAcceptor",
        "action_data": {
            "device_info": {
                "uid": "NA_1"
            },
            "door_openned": true
        },
        "action": {
            "class_name": "G2S_noteAcceptor",
            "class_action": "Stacker Door Access",
            "action_method": "g2s.egm.G2S_noteAcceptor.stacker.door.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "b7a47ad01afc35fc"
            ]
        ]
    },
    {
        "id": "1ce12cb42038328f",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "g2s_action_name": "",
        "class_name": "G2S_noteAcceptor",
        "action_data": {
            "device_info": {
                "uid": "NA_A"
            },
            "door_openned": false
        },
        "action": {
            "class_name": "G2S_noteAcceptor",
            "class_action": "Stacker Door Access",
            "action_method": "g2s.egm.G2S_noteAcceptor.stacker.door.access"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "c0b1091bb8e3c23b"
            ]
        ]
    },
    {
        "id": "0d3adf580261394c",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 830,
        "y": 200,
        "wires": [
            [
                "362c39a76c4dba05"
            ]
        ]
    },
    {
        "id": "768189a13fc3bff6",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "Test NoteAcceptor Device Status After Drop Door Open",
        "collection": "967123efa45a99be",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"false\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:doorOpen\"] === \"true\");"
            }
        ],
        "x": 1390,
        "y": 200,
        "wires": [
            [
                "505715923dac22f6"
            ]
        ]
    },
    {
        "id": "75dc294216c855cb",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "5c43ff85a57d6fb0"
            ]
        ]
    },
    {
        "id": "505715923dac22f6",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_dropDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "4455a3bd356ca237"
            ]
        ]
    },
    {
        "id": "4455a3bd356ca237",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "Test NoteAcceptor Meters After Drop Door Open",
        "collection": "967123efa45a99be",
        "timer": "",
        "tests": [
            {
                "name": "Drop Door Count is 1",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1360,
        "y": 260,
        "wires": [
            [
                "1ce12cb42038328f"
            ]
        ]
    },
    {
        "id": "c1ac62f77cfb5ec9",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "Test NoteAcceptor Device Status After Drop Door Closed",
        "collection": "967123efa45a99be",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is Drop door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:doorOpen\"] === \"false\");"
            }
        ],
        "x": 1390,
        "y": 320,
        "wires": [
            [
                "afdcf98520fc41c4"
            ]
        ]
    },
    {
        "id": "6868d0deca8d6363",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 830,
        "y": 80,
        "wires": [
            [
                "2c5e6b783e7b3af1"
            ]
        ]
    },
    {
        "id": "e02852fa89b2030b",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "Test Initial Drop Door Status",
        "collection": "967123efa45a99be",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is Drop door closed",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:doorOpen\"] === \"false\");"
            }
        ],
        "x": 1300,
        "y": 80,
        "wires": [
            [
                "6a51a231134d40c7"
            ]
        ]
    },
    {
        "id": "6a51a231134d40c7",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_dropDoorOpenCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "2bdab3387bf08c18"
            ]
        ]
    },
    {
        "id": "2bdab3387bf08c18",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "Test Initial Drop Door Meters",
        "collection": "967123efa45a99be",
        "timer": "",
        "tests": [
            {
                "name": "Drop Door Open Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1300,
        "y": 140,
        "wires": [
            [
                "58f7b22817a92324"
            ]
        ]
    },
    {
        "id": "b7a47ad01afc35fc",
        "type": "delay",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "0d3adf580261394c"
            ]
        ]
    },
    {
        "id": "c0b1091bb8e3c23b",
        "type": "delay",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "75dc294216c855cb"
            ]
        ]
    },
    {
        "id": "afdcf98520fc41c4",
        "type": "link out",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "Drop Door Out",
        "mode": "link",
        "links": [
            "536b53d98318a0a3"
        ],
        "x": 1675,
        "y": 320,
        "wires": []
    },
    {
        "id": "0f92a0516dbb8d6a",
        "type": "link in",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "Note Acceptor Drop Door In",
        "links": [
            "127fe2fdf8bc0482"
        ],
        "x": 165,
        "y": 80,
        "wires": [
            [
                "6868d0deca8d6363"
            ]
        ]
    },
    {
        "id": "2c5e6b783e7b3af1",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 80,
        "wires": [
            [
                "e02852fa89b2030b"
            ]
        ]
    },
    {
        "id": "362c39a76c4dba05",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "768189a13fc3bff6"
            ]
        ]
    },
    {
        "id": "5c43ff85a57d6fb0",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "cb9545e6214ed6fd",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "c1ac62f77cfb5ec9"
            ]
        ]
    },
    {
        "id": "7234841a8de38fb6",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "g2s_action_name": "",
        "class_name": "G2S_noteAcceptor",
        "action_data": {
            "device_info": {
                "uid": "NA_1"
            },
            "error_info": {
                "error_code": 9,
                "set_flag": true
            }
        },
        "action": {
            "class_name": "G2S_noteAcceptor",
            "class_action": "Error",
            "action_method": "g2s.egm.G2S_noteAcceptor.errors.set_error"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "a22a73293af7f1dd"
            ]
        ]
    },
    {
        "id": "9de735c760016252",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "g2s_action_name": "",
        "class_name": "G2S_noteAcceptor",
        "action_data": {
            "device_info": {
                "uid": "NA_1"
            },
            "error_info": {
                "error_code": 9,
                "set_flag": false
            }
        },
        "action": {
            "class_name": "G2S_noteAcceptor",
            "class_action": "Error",
            "action_method": "g2s.egm.G2S_noteAcceptor.errors.set_error"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "f5299a83f5970e87"
            ]
        ]
    },
    {
        "id": "28751f7c49efcd93",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 870,
        "y": 540,
        "wires": [
            [
                "d7dcacd3a3fa68dc"
            ]
        ]
    },
    {
        "id": "bc9d2ae06b5d32be",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "Test NoteAcceptor Device Status After Stacker Removed",
        "collection": "22ae68f5b472374b",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"false\");"
            },
            {
                "name": "is cabinet door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:stackerRemoved\"] === \"true\");"
            }
        ],
        "x": 1390,
        "y": 540,
        "wires": [
            [
                "def3a9d146409bc8"
            ]
        ]
    },
    {
        "id": "a61fe4044f35dfaf",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 870,
        "y": 660,
        "wires": [
            [
                "7fdc8775cd6a70ea"
            ]
        ]
    },
    {
        "id": "def3a9d146409bc8",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_stackerRemovedCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 790,
        "y": 600,
        "wires": [
            [
                "085bf9a23e8557a0"
            ]
        ]
    },
    {
        "id": "085bf9a23e8557a0",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "Test NoteAcceptor Meters After Stacker Removal",
        "collection": "22ae68f5b472374b",
        "timer": "",
        "tests": [
            {
                "name": "Drop Door Count is 1",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1370,
        "y": 600,
        "wires": [
            [
                "9de735c760016252"
            ]
        ]
    },
    {
        "id": "5aa491c8df2c64ab",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "Test NoteAcceptor Device Status After Stacker Reinserted",
        "collection": "22ae68f5b472374b",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is Drop door openned",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:stackerRemoved\"] === \"false\");"
            }
        ],
        "x": 1390,
        "y": 660,
        "wires": [
            [
                "1c2fdd8ca60a996d"
            ]
        ]
    },
    {
        "id": "fa86769796f89944",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 870,
        "y": 420,
        "wires": [
            [
                "46a97351b25c2c9d"
            ]
        ]
    },
    {
        "id": "211a58a50228dfd0",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "Test Initial Stacker Status",
        "collection": "22ae68f5b472374b",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "is Drop door closed",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:stackerRemoved\"] === \"false\");"
            }
        ],
        "x": 1290,
        "y": 420,
        "wires": [
            [
                "eabf0ce008c25bde"
            ]
        ]
    },
    {
        "id": "eabf0ce008c25bde",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_stackerRemovedCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 790,
        "y": 480,
        "wires": [
            [
                "c1594edfbb3cb6b8"
            ]
        ]
    },
    {
        "id": "c1594edfbb3cb6b8",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "Test Initial Stacker Meters",
        "collection": "22ae68f5b472374b",
        "timer": "",
        "tests": [
            {
                "name": "Drop Door Open Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1290,
        "y": 480,
        "wires": [
            [
                "7234841a8de38fb6"
            ]
        ]
    },
    {
        "id": "a22a73293af7f1dd",
        "type": "delay",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 540,
        "wires": [
            [
                "28751f7c49efcd93"
            ]
        ]
    },
    {
        "id": "f5299a83f5970e87",
        "type": "delay",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 660,
        "wires": [
            [
                "a61fe4044f35dfaf"
            ]
        ]
    },
    {
        "id": "1c2fdd8ca60a996d",
        "type": "link out",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "Drop Door Out",
        "mode": "link",
        "links": [
            "49693658c6b7b16b"
        ],
        "x": 1675,
        "y": 660,
        "wires": []
    },
    {
        "id": "536b53d98318a0a3",
        "type": "link in",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "Drop Door In",
        "links": [
            "afdcf98520fc41c4"
        ],
        "x": 165,
        "y": 420,
        "wires": [
            [
                "fa86769796f89944"
            ]
        ]
    },
    {
        "id": "46a97351b25c2c9d",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 420,
        "wires": [
            [
                "211a58a50228dfd0"
            ]
        ]
    },
    {
        "id": "d7dcacd3a3fa68dc",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "bc9d2ae06b5d32be"
            ]
        ]
    },
    {
        "id": "7fdc8775cd6a70ea",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "d0194652c91bd897",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "5aa491c8df2c64ab"
            ]
        ]
    },
    {
        "id": "7c182c8acca29241",
        "type": "link in",
        "z": "c94aadc737aeba2c",
        "g": "dd27383e724564fc",
        "name": "NoteAcceptor Test Report",
        "links": [
            "c937ce47137e3e8d"
        ],
        "x": 165,
        "y": 1260,
        "wires": [
            [
                "376c0a9ae663669f"
            ]
        ]
    },
    {
        "id": "9bacf1bb4d5e4742",
        "type": "link out",
        "z": "c94aadc737aeba2c",
        "g": "dd27383e724564fc",
        "name": "NoteAcceptor Tests Done",
        "mode": "link",
        "links": [
            "b84bb3ebfcf0769a"
        ],
        "x": 475,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3b639736e6168d91",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "G2S_noteAcceptor",
        "action_data": {
            "device_info": {
                "uid": "NA_1"
            },
            "currency_info": {
                "currency_id": "CAD",
                "denom": 500000
            },
            "egm_tx_id": -1
        },
        "action": {
            "class_name": "G2S_noteAcceptor",
            "class_action": "Note Escrowed",
            "action_method": "g2s.egm.G2S_noteAcceptor.note.escrowed"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 340,
        "y": 960,
        "wires": [
            [
                "de50e821346683af"
            ]
        ]
    },
    {
        "id": "d95a6db105d570b5",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 870,
        "y": 780,
        "wires": [
            [
                "5988af46acc40a29"
            ]
        ]
    },
    {
        "id": "4e1d11a8c27ea6cd",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Test Initial NoteAcceptor Status",
        "collection": "d32b713aee85a34b",
        "timer": "",
        "tests": [
            {
                "name": "Is device EGM disabled",
                "expression": "assert.isTrue(msg.payload.result.device_status[\"g2s:noteAcceptorStatus\"].$[\"g2s:egmEnabled\"] === \"true\");"
            },
            {
                "name": "No escrowed notes",
                "expression": "assert.isTrue(msg.payload.result.device_status['g2s:noteAcceptorStatus'].$['g2s:noteValueInEscrow'] === \"0\")"
            }
        ],
        "x": 1310,
        "y": 780,
        "wires": [
            [
                "3b8a480e6f60cbbe"
            ]
        ]
    },
    {
        "id": "3b8a480e6f60cbbe",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_currencyInAmt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 930,
        "y": 840,
        "wires": [
            [
                "a3a75b42e6a54beb"
            ]
        ]
    },
    {
        "id": "a3a75b42e6a54beb",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Test Initial NoteAcceptor Notes In Amount Meter",
        "collection": "d32b713aee85a34b",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Amt is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1360,
        "y": 840,
        "wires": [
            [
                "6fce62edaf418e5a"
            ]
        ]
    },
    {
        "id": "de50e821346683af",
        "type": "delay",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 960,
        "wires": [
            [
                "630120a12693f10e"
            ]
        ]
    },
    {
        "id": "c937ce47137e3e8d",
        "type": "link out",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Coin In Out",
        "mode": "link",
        "links": [
            "7c182c8acca29241"
        ],
        "x": 1675,
        "y": 1140,
        "wires": []
    },
    {
        "id": "49693658c6b7b16b",
        "type": "link in",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Coin In In",
        "links": [
            "1c2fdd8ca60a996d"
        ],
        "x": 165,
        "y": 780,
        "wires": [
            [
                "d95a6db105d570b5"
            ]
        ]
    },
    {
        "id": "6fce62edaf418e5a",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_currencyInCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 930,
        "y": 900,
        "wires": [
            [
                "552b950beff93c15"
            ]
        ]
    },
    {
        "id": "552b950beff93c15",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Test Initial NoteAcceptor Note In Count Meter",
        "collection": "d32b713aee85a34b",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"0\");"
            }
        ],
        "x": 1350,
        "y": 900,
        "wires": [
            [
                "3b639736e6168d91"
            ]
        ]
    },
    {
        "id": "6348ceb928692f9b",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_currencyInAmt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 930,
        "y": 1020,
        "wires": [
            [
                "2d1d8bec2fb0dfd6"
            ]
        ]
    },
    {
        "id": "8995df656bd221a7",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            },
            "meter_name": "G2S_currencyInCnt"
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Meter Value",
            "action_method": "g2s.egm.meters.get_meter"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 910,
        "y": 1080,
        "wires": [
            [
                "a30541ad2dcab39b"
            ]
        ]
    },
    {
        "id": "a30541ad2dcab39b",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Test NoteAcceptor Note In Count Meter After Note Insertion",
        "collection": "d32b713aee85a34b",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Count is 0",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"1\");"
            }
        ],
        "x": 1400,
        "y": 1080,
        "wires": [
            [
                "0de9832f73171653"
            ]
        ]
    },
    {
        "id": "5988af46acc40a29",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "4e1d11a8c27ea6cd"
            ]
        ]
    },
    {
        "id": "630120a12693f10e",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 870,
        "y": 960,
        "wires": [
            [
                "6df984f36c43152b"
            ]
        ]
    },
    {
        "id": "6df984f36c43152b",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 960,
        "wires": [
            [
                "3ad7c87b27a381ec"
            ]
        ]
    },
    {
        "id": "3ad7c87b27a381ec",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Test NoteAcceptor Status After Note Insertion",
        "collection": "d32b713aee85a34b",
        "timer": "",
        "tests": [
            {
                "name": "No escrowed notes",
                "expression": "assert.isTrue(msg.payload.result.device_status['g2s:noteAcceptorStatus'].$['g2s:noteValueInEscrow'] === \"500000\")"
            }
        ],
        "x": 1350,
        "y": 960,
        "wires": [
            [
                "9b08cc2393e68c6a"
            ]
        ]
    },
    {
        "id": "2d1d8bec2fb0dfd6",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Test NoteAcceptor Note In Amount Meter After Note Stacked",
        "collection": "d32b713aee85a34b",
        "timer": "",
        "tests": [
            {
                "name": "Coin In Amt is 1000",
                "expression": "assert.isTrue(msg.payload.result.meter.value === \"500000\");"
            }
        ],
        "x": 1400,
        "y": 1020,
        "wires": [
            [
                "8995df656bd221a7"
            ]
        ]
    },
    {
        "id": "9b08cc2393e68c6a",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "G2S_noteAcceptor",
        "action_data": {
            "device_info": {
                "uid": "NA_1"
            },
            "destination": 1,
            "egm_tx_id": -1
        },
        "action": {
            "class_name": "G2S_noteAcceptor",
            "class_action": "Note Stacked",
            "action_method": "g2s.egm.G2S_noteAcceptor.note.stacked"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 350,
        "y": 1020,
        "wires": [
            [
                "8aca7c1f8d65b77f"
            ]
        ]
    },
    {
        "id": "8aca7c1f8d65b77f",
        "type": "delay",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 1020,
        "wires": [
            [
                "6348ceb928692f9b"
            ]
        ]
    },
    {
        "id": "0de9832f73171653",
        "type": "g2sAction",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "g2s_action_name": "",
        "class_name": "Common",
        "action_data": {
            "device_info": {
                "class_name": "G2S_noteAcceptor",
                "uid": "NA_1"
            }
        },
        "action": {
            "class_name": "Common",
            "class_action": "Get Device Status",
            "action_method": "g2s.egm.devices.get_status"
        },
        "use_this_transport": true,
        "use_mqtt": false,
        "xmlrpc_config": "12817824be111c81",
        "mqtt_config": "",
        "mqtt_egm_group": "",
        "mqtt_qos": "",
        "mqtt_retain": "",
        "sync_with_group": true,
        "sync_with_group_timeout": 5,
        "x": 870,
        "y": 1140,
        "wires": [
            [
                "4e4ad42b91412069"
            ]
        ]
    },
    {
        "id": "4e4ad42b91412069",
        "type": "xml",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "",
        "property": "payload.result.device_status",
        "attr": "",
        "chr": "",
        "x": 1090,
        "y": 1140,
        "wires": [
            [
                "0d638d8d9d6aa0f4"
            ]
        ]
    },
    {
        "id": "0d638d8d9d6aa0f4",
        "type": "test-case",
        "z": "c94aadc737aeba2c",
        "g": "691fa100c9f8807d",
        "name": "Test NoteAcceptor Status After Note Stacked",
        "collection": "d32b713aee85a34b",
        "timer": "",
        "tests": [
            {
                "name": "No escrowed notes",
                "expression": "assert.isTrue(msg.payload.result.device_status['g2s:noteAcceptorStatus'].$['g2s:noteValueInEscrow'] === \"0\")"
            }
        ],
        "x": 1350,
        "y": 1140,
        "wires": [
            [
                "c937ce47137e3e8d"
            ]
        ]
    },
    {
        "id": "376c0a9ae663669f",
        "type": "subflow:a1954e354fc897bc",
        "z": "c94aadc737aeba2c",
        "g": "dd27383e724564fc",
        "name": "",
        "env": [
            {
                "name": "collection_name",
                "value": "39025918ae2b543b",
                "type": "conf-type"
            },
            {
                "name": "report_name",
                "value": "G2S_noteAcceptor_tests_report",
                "type": "str"
            },
            {
                "name": "collection",
                "value": "G2S_noteAcceptor_tests",
                "type": "str"
            },
            {
                "name": "Report Name",
                "value": "noteAcceptor_test_report.xml",
                "type": "str"
            }
        ],
        "x": 320,
        "y": 1260,
        "wires": [
            [
                "9bacf1bb4d5e4742"
            ]
        ]
    },
    {
        "id": "0dfa7991618f2426",
        "type": "xmlrpc call",
        "z": "a67d75c8f37854fe",
        "name": "Exit G2S Runner",
        "method": "g2s.egm.runner.exit",
        "client": "12817824be111c81",
        "x": 380.765625,
        "y": 71.76171875,
        "wires": [
            [
                "94eafa1bf32c1ed9"
            ]
        ]
    },
    {
        "id": "94eafa1bf32c1ed9",
        "type": "exec",
        "z": "a67d75c8f37854fe",
        "command": "pkill node-red",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Kill Node-red",
        "x": 600.765625,
        "y": 71.76171875,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b84bb3ebfcf0769a",
        "type": "link in",
        "z": "a67d75c8f37854fe",
        "name": "All Tests Done",
        "links": [
            "9bacf1bb4d5e4742"
        ],
        "x": 150.765625,
        "y": 71.76171875,
        "wires": [
            [
                "0dfa7991618f2426"
            ]
        ]
    }
]